@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

*{
box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}


/** Product Card Start **/
.w-285{
  width: 285px;
}
.w-150{
  width: 100px;
 
}
.h-446{
  height: 440px;
}
.h-301{
  height: 301px;
}
.color-3A3A3A{
  color: #3A3A3A;
}
.color-898989{
  color: #898989;
}
.color-9F9F9F{
  color: #9F9F9F;
}
.color-B0B0B0{
  color: #B0B0B0;
}
.color-B88E2F{
  color: #B88E2F;
}
.color-242424{
  color: #242424;
}
.color-E97171{
  color: #E97171;
}
.bg-F4F5F7{
  background: #F4F5F7;
}

.bg-E97171{
  background: #E97171;
}
.border-color{
  border-color: #B88E2F;
}
.bg-color{
  background-color: #B88E2F;
}
.product-card .hover-cart {
  right: -100%; /* Start off-screen to the right */
  background-color: rgba(0, 0, 0, 0.5);/* Add a background color to the cart element */
  transition: right 0.5s ease;
}
.product-card:hover .hover-cart {
  right: 0;
}

/** Product Card end **/


/** Inspirations start **/
.bg-FCF8F3{
  background-color: #FCF8F3;
}
.inspirations .swiper-pagination-bullet-active{
  background: #fff !important;
  border: 1px solid #B88E2F;
  width: 20px !important;
  height: 20px !important;
  position: relative;

 
  
}
.inspirations .swiper-horizontal > .swiper-pagination-bullets{
display: flex;
align-items: center;
 margin-left: 30px;
  
}

.inspirations .swiper-pagination-bullet-active::before{
  background: #B88E2F !important;
  content: '';
  width: 8px !important;
  height: 8px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  
}

.w-404{
  width: 404px;
}
.h-582{
  height: 582px;
}
.color-616161{
  color: #616161;
}
.bg-white-transparent{
  background-color: rgba(243, 243, 243, 0.8);
}
/** Inspirations end **/


/** Swiper JS **/
.swiper-pagination-bullet-active{
  background: black !important;
}

.footer ul{
  display: flex;
  flex-direction: column;
}
.footer a{
  margin-bottom: 25px;
  font-weight: 500;
}
.footer input{
  border-bottom: 1px solid gray;
  
}
.footer input:focus{
  outline: none;
  
}


/******** Shop Page*********/
.bg-F9F1E7{
  background-color: #F9F1E7;
}
.bg-B88E2F{
  background-color: #B88E2F;
}
.bg-FAF3EA{
  background-color: #FAF3EA;
}

.shop_banner{
  background-image: url('./assets/shop_banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/**** Cart*******/

.cart:hover{
  background-color: #B88E2F;
  color: #fff;
}